.overview {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 150px;
  margin-right: 150px;

  //Top of Page - logo-search//
  .topOfPage {
    display: flex;
    height: 120px;
    background-color: rgb(202, 202, 202);

    .logo {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      margin-left: 25px;
      overflow: hidden;
      align-self: center;
    }
    .companyName{
      height: 50px;
      font-family: Cormorant;
      text-align: center;
      font-size: 30px;
      line-height: 50px;
      margin-left: 75px;
      // align-self: center;
    }
    .searchBar {
      width: 300px;
      height: 38px;
      margin-left: 360px;
      margin-bottom: 4px;
      align-self: flex-end;
    }
    .search-button {
      width: 60px;
      margin-right: 30px;
      margin-bottom: 4px;
      align-self: flex-end;
    }
  }

  //Announcements//
  .announcements {
    height: 50px;
    background-color: rgb(236, 127, 127);
    font-family: Cormorant;
    text-align: center;
    line-height: 12px;
  }

  //Image Carousel and Product Overview//
  .overview-main {
    display: flex;
    // background-color: rgb(202, 202, 202);

    .imageThumb {
      display: flex;
      flex-direction: column;
      margin: 5px;
      margin-top: 4x;
      margin-bottom: 4px;
      align-self: flex-start;
    }
    .imageMain {
      // border: 5px solid #555;
    }

    .styleSide {
      display: flex;
      flex-direction: column;
      font-family: Cormorant;
      margin-left: 100px;
      // border: 5px solid #555;

      .ratings {
        display: flex;
      }
      .productCategory {
        margin-bottom: -20px;
      }
      .productName {
        margin-bottom: -15px;
      }
      .productPriceDefault {
        margin-bottom: -15px;
      }
      .productStyleHeader {

      }

      .styleThumbsMain {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .styleThumbs{
          flex: 1 0 25%;
          // border-radius: 50%;
          // overflow: hidden;
          margin: 5px;
          margin-bottom: 20px;
        }
      }

      .size-quantity {
        display: flex;

        .selectSize {

        }
        .selectQty {
          margin-left: 30px;
        }
      }
      .bag-outfit {
        display: flex;

        .addToBag {

        }
        .addToOutfit {
          // margin-left: 30px;
        }
      }
      .share {
        // width: 50px;
      }
    }
  }

  //Description & Features//
  .description-features{
    display: flex;
    flex-direction: column;
    font-family: Cormorant;
    margin-left: 80px;

    .slogan-features {
      display: flex;
      // justify-content: center;
      align-items: baseline;

      .productSlogan {
        align-self: flex-end;
        font-size: 24px;
        font-weight: bold;
      }
      .productFeatures{
        margin-left: 400px;
        font-size: 20px;
      }
    }

    .productDescription {
      display: flex;
      align-self: flex-start;
      justify-content: center;
      font-size: 20px;
      width: 450px;
    }
  }
};