@charset "UTF-8";
.label {
  display: inline-block;
  width: 140px;
  text-align: left;
}

.barContainer {
  display: flex;
  font-family: Cormorant;
  color: #494949;
}

.ratingsAndReviews {
  display: flex;
  font-family: Cormorant;
  justify-content: center;
  margin-top: 30px;
}
.ratingsAndReviews .metaReview {
  width: 300px;
  margin-right: 20px;
}
.ratingsAndReviews .metaReview .ratingsHeader {
  font-size: 20px;
  color: #494949;
}
.ratingsAndReviews .metaReview .rating {
  display: flex;
}
.ratingsAndReviews .metaReview .rating .overallRating {
  font-size: 65px;
  font-family: "Cormorant", serif;
  font-family: "Roboto", sans-serif;
  color: #494949;
}
.ratingsAndReviews .metaReview .rating .starsContainer {
  margin-top: 10px;
  margin-left: 15px;
}
.ratingsAndReviews .metaReview .recommendPrecentage {
  margin-top: 15px;
}
.ratingsAndReviews .metaReview .starsCountContainer {
  margin-top: 15px;
}
.ratingsAndReviews .comfortFitLengthQuality {
  font-size: 17px;
  margin-top: 50px;
}
.ratingsAndReviews .comfortFitLengthQuality .sizeRating {
  display: flex;
  align-content: space-between;
  font-size: 13px;
  margin-top: 10px;
}
.ratingsAndReviews .comfortFitLengthQuality .sizeRating .perfect {
  margin-left: 58px;
}
.ratingsAndReviews .comfortFitLengthQuality .sizeRating .tooLarge {
  margin-left: 60px;
}
.ratingsAndReviews .comfortFitLengthQuality .comfort {
  margin-top: 5px;
}
.ratingsAndReviews .comfortFitLengthQuality .length {
  margin-top: 5px;
}
.ratingsAndReviews .comfortFitLengthQuality .quality {
  margin-top: 5px;
}
.ratingsAndReviews .comfortFitLengthQuality .perfect1 {
  margin-left: 188px;
}
.ratingsAndReviews .buttons {
  display: flex;
}
.ratingsAndReviews .arrowMakerBar {
  display: flex;
  align-items: flex-start;
}
.ratingsAndReviews .arrowMakerBar .arrow {
  margin-top: 8px;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #494949;
  position: absolute;
}
.ratingsAndReviews .arrowMakerBar .bar1 {
  background-color: #e9e9e9;
  width: 78px;
  height: 7px;
  position: relative;
  transition: width 0.5s linear;
  margin-top: 8px;
  margin-right: 8px;
}
.ratingsAndReviews .starsCount {
  display: flex;
  margin-top: 8px;
}
.ratingsAndReviews .starsCount .stars1 {
  font-size: 17px;
  margin-right: 10px;
  font-weight: normal;
}
.ratingsAndReviews .starsCount .numOfReviews {
  color: lightgray;
}
.ratingsAndReviews .starsCount .bar {
  background-color: #e9e9e9;
  width: 184px;
  height: 7px;
  position: relative;
  transition: width 0.5s linear;
  margin-top: 8px;
  margin-right: 2px;
}
.ratingsAndReviews .starsCount .bar .status {
  background: #494949;
  width: 50%;
  height: 7px;
  position: relative;
  transition: width 0.5s linear;
}
.ratingsAndReviews .reviewsHeader {
  margin-top: 80px;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: bolder;
  color: #494949;
}
.ratingsAndReviews .reviewsHeader .sortingOptions {
  font-size: 17px;
  color: #494949;
  border-top: 1px;
  border-left: 1px;
  border-right: 1px;
}
.ratingsAndReviews .review {
  width: 600px;
  margin-bottom: 10px;
}
.ratingsAndReviews .review .summary {
  margin-bottom: 15px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: bolder;
  color: #494949;
}
.ratingsAndReviews .review .body {
  margin-bottom: 15px;
}
.ratingsAndReviews .review .recommendation {
  margin-bottom: 15px;
}
.ratingsAndReviews .review .recommendation .checkMark {
  font-size: 20px;
  margin-right: 10px;
  color: #494949;
}
.ratingsAndReviews .breakLine {
  margin-right: 15px;
}
.ratingsAndReviews .topOfReview {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.ratingsAndReviews .topOfReview .reviewerName {
  font-size: small;
  margin-right: 15px;
}
.ratingsAndReviews .actions {
  display: flex;
  font-size: small;
  margin-bottom: 15px;
}
.report {
  margin-left: 3px;
}

.yes:hover {
  text-decoration: underline;
  cursor: pointer;
}

.report:hover {
  text-decoration: underline;
  cursor: pointer;
}

.modalHeading {
  margin-top: 10px;
}

#starButton {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.on {
  color: #494949;
  margin-right: 3px;
}

.off {
  color: #ccc;
  margin-right: 3px;
}

.star2 {
  margin-right: 2px;
}

input[type=text] {
  width: 275px;
  height: 15px;
  padding: 12px 20px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  width: 275px;
  height: 100px;
  padding: 12px 20px;
  resize: none;
  overflow-y: scroll;
}

.fitLengthContainer {
  display: flex;
}
.fitLengthContainer .lengthContainer {
  margin-left: 50px;
}

.comfortAndQualityContainer {
  display: flex;
}
.comfortAndQualityContainer .qualityContainer {
  margin-left: 50px;
}

.formButtonContainer {
  display: flex;
  justify-content: flex-end;
}
.formButtonContainer .formButton {
  font-family: Cormorant;
  font-size: 15px;
  color: #494949;
  font-weight: bolder;
  margin-top: 5px;
  border: 1px solid #494949;
  background-color: white;
  padding: 10px 20px;
  text-align: center;
}

input[type=email] {
  width: 275px;
  height: 15px;
  padding: 12px 20px;
  box-sizing: border-box;
}

.stars {
  font-family: Cormorant;
  color: #cccccc;
  font-size: 15px;
}
.stars .checked {
  color: #494949;
}
.stars .star {
  margin-right: 3px;
}

.button {
  margin-top: 10px;
  font-family: Cormorant;
  margin-right: 20px;
  font-size: 18px;
  color: #494949;
  font-weight: bolder;
  border: 1px solid #494949;
  background-color: white;
  padding: 15px 20px;
  text-align: center;
}

.button:hover {
  background-color: #f3f3f3;
}

.overviewContainer {
  display: flex;
  justify-content: center;
}

.overview {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80vw;
}
.overview .topOfPage {
  display: flex;
  height: 120px;
  background-color: #3b9ebd;
  border: 1px solid #555;
  border-radius: 6px;
}
.overview .topOfPage .logo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-left: 25px;
  overflow: hidden;
  align-self: center;
}
.overview .topOfPage .companyName {
  height: 50px;
  font-family: Cormorant;
  color: #333333;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  margin-left: 75px;
}
.overview .topOfPage .searchBar {
  width: 300px;
  height: 38px;
  margin-left: 360px;
  margin-bottom: 4px;
  align-self: flex-end;
  border-radius: 4px;
}
.overview .topOfPage .search-button {
  width: 60px;
  margin-right: 30px;
  margin-bottom: 4px;
  align-self: flex-end;
  border-radius: 4px;
}
.overview .announcements {
  display: flex;
  align-items: center;
  height: 50px;
  font-family: Cormorant;
  font-size: 22px;
}
.overview .announcements .firstA {
  padding-left: 300px;
  padding-right: 220px;
}
.overview .announcements .secondA {
  text-decoration: underline;
}
.overview .announcements .secondA:hover {
  font-weight: bold;
  color: #3b9ebd;
  cursor: pointer;
}
.overview .overview-main {
  display: flex;
  position: relative;
}
.overview .overview-main .imageThumbs {
  display: flex;
  flex-direction: column;
  margin-top: 4x;
  margin-bottom: 4px;
  align-self: flex-start;
  position: absolute;
  left: 15px;
  top: 20px;
  bottom: 20px;
  z-index: 150;
  width: 100px;
  height: 100px;
}
.overview .overview-main .imageThumbs img {
  margin-top: 30x;
  margin-bottom: 30px;
  border: 1px solid #555;
}
.overview .overview-main .imageThumbs img:hover {
  cursor: pointer;
  transform: scale(1.4);
  border: 2px solid #3b9ebd;
}
.overview .overview-main .arrow-btn {
  font-size: 26px;
  opacity: 75%;
  border: 0.25px solid #3b9ebd;
  margin-left: 28px;
  width: 44px;
  height: 36px;
  border-radius: 16px;
}
.overview .overview-main .arrow-btn:hover {
  background-color: #3b9ebd;
}
.overview .overview-main .imageMain {
  border: 2px solid #555;
}
.overview .overview-main .styleSide {
  display: flex;
  flex-direction: column;
  font-family: Cormorant;
  margin-left: 50px;
}
.overview .overview-main .styleSide .ratings {
  display: flex;
  text-decoration: underline;
  margin-top: 10px;
}
.overview .overview-main .styleSide .ratings:hover {
  font-weight: bold;
  color: #1a1a38;
  cursor: pointer;
}
.overview .overview-main .styleSide .productCategory {
  font-size: 18px;
  margin-bottom: -40px;
}
.overview .overview-main .styleSide .productName {
  font-size: 24px;
  margin-bottom: 10px;
}
.overview .overview-main .styleSide .productStyleHeader {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 22px;
}
.overview .overview-main .styleSide .styleThumbsMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.overview .overview-main .styleSide .styleThumbsMain .styleThumbs {
  flex: 1 0 25%;
  margin: 5px;
  margin-bottom: 20px;
}
.overview .overview-main .styleSide .styleThumbsMain .styleThumbs img:hover {
  cursor: pointer;
  transform: scale(1.4);
}
.overview .overview-main .styleSide .size-quantity {
  display: flex;
}
.overview .overview-main .styleSide .size-quantity .selectSize {
  text-align-last: center;
}
.overview .overview-main .styleSide .size-quantity .selectQty {
  margin-left: 30px;
  text-align-last: center;
}
.overview .overview-main .styleSide .bag-outfit {
  display: flex;
}
.overview .overview-main .styleSide .bag-outfit .popup-box {
  position: fixed;
  background: #74747450;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
.overview .overview-main .styleSide .bag-outfit .box {
  position: relative;
  width: 30%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #999;
  overflow: auto;
}
.overview .overview-main .styleSide .bag-outfit .close-icon {
  content: "X";
  cursor: pointer;
  position: fixed;
  right: calc(15% + 330px);
  top: calc(100vh - 85vh - 25px);
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
}
.overview .overview-main .styleSide .bag-outfit .addToOutfit img:hover {
  cursor: pointer;
  transform: scale(1.5);
}
.overview .overview-main .styleSide .share img:hover {
  cursor: pointer;
  transform: scale(1.3);
}
.overview .description-features {
  display: flex;
  flex-direction: column;
  font-family: Cormorant;
}
.overview .description-features .slogan-features {
  display: flex;
}
.overview .description-features .slogan-features .vertical {
  border-left: 2px solid #555;
  height: 70px;
  position: absolute;
  margin-top: 16px;
}
.overview .description-features .slogan-features ul {
  list-style: none;
}
.overview .description-features .slogan-features ul li:before {
  content: "✓ ";
}
.overview .description-features .slogan-features .productSlogan {
  margin-left: 30px;
  font-size: 24px;
  font-weight: bold;
}
.overview .description-features .slogan-features .productFeatures {
  margin-left: 570px;
  font-size: 20px;
}
.overview .description-features .productDescription {
  display: flex;
  align-self: flex-start;
  justify-content: center;
  font-size: 20px;
  margin-left: 30px;
  margin-right: 750px;
  margin-top: -50px;
  margin-bottom: 60px;
}

.related-products-wrapper {
  margin: auto;
  width: 1000px;
  /*

          RELATED PRODUCTS CAROUSEL

  */
  /********************

        MY OUTFIT CAROUSEL

  *********************/
}
.related-products-wrapper .related-products-carousel-title {
  font-family: "Cormorant";
  font-weight: bolder;
  font-size: 20px;
}
.related-products-wrapper .related-products-carousel {
  overflow: visible;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.related-products-wrapper .relatedProds-prev-button {
  width: 70px;
  height: 70px;
  align-self: center;
  position: absolute;
  z-index: 1000;
}
.related-products-wrapper ::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}
.related-products-wrapper .related-products-card-row {
  overflow: scroll;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  transition-duration: 1s;
}
.related-products-wrapper .related-products-card-row .carousel-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.related-products-wrapper .related-products-card-row .carousel-container .hidden {
  opacity: 0;
  transition: visibility 1s, opacity 0.5s linear;
}
.related-products-wrapper .related-products-card-row .carousel-container .relatedProdCard {
  border: 1px solid grey;
  top: 0;
  width: 100%;
  margin: auto;
  z-index: 100;
  transition-duration: 1s;
  transition: transform 1s, opacity 1s, z-index 1s;
}
.related-products-wrapper .related-products-card-row .carousel-container .relatedProdCard .image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  height: 255px;
  background-color: #36454f;
}
.related-products-wrapper .related-products-card-row .carousel-container .relatedProdCard .image-container .image {
  align-self: center;
  width: 170px;
}
.related-products-wrapper .related-products-card-row .carousel-container .relatedProdCard .image-container .action-button-container {
  position: absolute;
  opacity: 50%;
}
.related-products-wrapper .related-products-card-row .carousel-container .relatedProdCard .image-container .action-button-container .action-modal {
  margin-top: 10px;
  margin-left: 120px;
  top: 5%;
  width: 26px;
  height: 26px;
}
.related-products-wrapper .related-products-card-row .carousel-container .relatedProdCard .product-info {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 10px;
}
.related-products-wrapper .related-products-card-row .carousel-container .relatedProdCard .product-info .category {
  font-family: "Cormorant";
  justify-content: center;
  font-weight: normal;
}
.related-products-wrapper .related-products-card-row .carousel-container .relatedProdCard .product-info .name {
  font-family: "Cormorant";
  justify-content: center;
  font-weight: 900;
}
.related-products-wrapper .related-products-card-row .carousel-container .relatedProdCard .product-info .price {
  font-family: "Cormorant";
  justify-content: center;
  font-weight: normal;
}
.related-products-wrapper .related-products-card-row .carousel-container .relatedProdCard .product-info .rating {
  color: white;
}
.related-products-wrapper .relatedProds-next-button {
  width: 70px;
  height: 70px;
  align-self: center;
  position: relative;
  left: 20px;
  z-index: 1002;
}
.related-products-wrapper .my-outfit-carousel-title {
  font-family: "Cormorant";
  font-weight: bolder;
  font-size: 20px;
}
.related-products-wrapper .my-outfit-container {
  display: flex;
  flex-direction: row;
  gap: 5%;
}
.related-products-wrapper .my-outfit-container .add-outfit-card {
  width: 170px;
  flex: 1;
  margin-top: 30px;
  margin-bottom: 50px;
  flex-direction: row;
  justify-content: left;
}
.related-products-wrapper .my-outfit-container .add-outfit-card .addOutfitCard {
  border: 1px solid grey;
  opacity: 50%;
  top: 0;
  width: 100%;
  margin: auto;
  z-index: 100;
  transition: "transform .5s, opacity.5s, z-index .5s";
}
.related-products-wrapper .my-outfit-container .add-outfit-card .addOutfitCard .image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  position: relative;
  height: 255px;
  background-color: #f0ede4;
}
.related-products-wrapper .my-outfit-container .add-outfit-card .addOutfitCard .image-container .image {
  align-self: center;
  width: 170px;
}
.related-products-wrapper .my-outfit-container .add-outfit-card .addOutfitCard .image-container .action-modal {
  position: absolute;
  top: 5%;
  left: 80%;
  width: 23px;
  opacity: 50%;
}
.related-products-wrapper .my-outfit-container .add-outfit-card .addOutfitCard .product-info {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 10px;
}
.related-products-wrapper .my-outfit-container .add-outfit-card .addOutfitCard .product-info .category {
  font-family: "Cormorant";
  justify-content: center;
  font-weight: normal;
  text-align: center;
}
.related-products-wrapper .my-outfit-container .add-outfit-card .addOutfitCard .product-info .name {
  font-family: "Cormorant";
  justify-content: center;
  font-weight: 900;
  text-align: center;
}
.related-products-wrapper .my-outfit-container .add-outfit-card .addOutfitCard .product-info .price {
  font-family: "Cormorant";
  justify-content: center;
  font-weight: normal;
  text-align: center;
}
.related-products-wrapper .my-outfit-container .add-outfit-card .addOutfitCard .product-info .rating {
  color: white;
}
.related-products-wrapper .my-outfit-container .my-outfit-carousel {
  overflow: visible;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.related-products-wrapper .my-outfit-container .my-outfit-carousel .myOutfit-prev-button {
  width: 70px;
  height: 70px;
  align-self: center;
  position: relative;
  left: 10px;
  z-index: 100;
}
.related-products-wrapper .my-outfit-container .my-outfit-carousel .my-outfit-card-row {
  display: flex;
  flex-direction: row;
  justify-content: left;
  transition-duration: 1s;
}
.related-products-wrapper .my-outfit-container .my-outfit-carousel .my-outfit-card-row ::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}
.related-products-wrapper .my-outfit-container .my-outfit-carousel .my-outfit-card-row .carousel-container {
  display: flex;
  flex-direction: row;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  gap: 20px;
}
.related-products-wrapper .my-outfit-container .my-outfit-carousel .my-outfit-card-row .carousel-container .myOutfitCard {
  border: 1px solid grey;
  top: 0;
  width: 100%;
  margin: auto;
  z-index: 100;
  transition: transform 0.5s, opacity 0.5s, z-index 0.5s;
}
.related-products-wrapper .my-outfit-container .my-outfit-carousel .my-outfit-card-row .carousel-container .myOutfitCard .image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  position: relative;
  height: 255px;
  background-color: #f0ede4;
}
.related-products-wrapper .my-outfit-container .my-outfit-carousel .my-outfit-card-row .carousel-container .myOutfitCard .image-container .image {
  align-self: center;
  width: 170px;
}
.related-products-wrapper .my-outfit-container .my-outfit-carousel .my-outfit-card-row .carousel-container .myOutfitCard .image-container .action-remove-outfit {
  position: absolute;
  top: 5%;
  left: 80%;
  width: 23px;
  height: 23px;
  opacity: 50%;
}
.related-products-wrapper .my-outfit-container .my-outfit-carousel .my-outfit-card-row .carousel-container .myOutfitCard .product-info {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 10px;
}
.related-products-wrapper .my-outfit-container .my-outfit-carousel .my-outfit-card-row .carousel-container .myOutfitCard .product-info .category {
  font-family: "Cormorant";
  justify-content: center;
  font-weight: normal;
}
.related-products-wrapper .my-outfit-container .my-outfit-carousel .my-outfit-card-row .carousel-container .myOutfitCard .product-info .name {
  font-family: "Cormorant";
  justify-content: center;
  font-weight: 900;
}
.related-products-wrapper .my-outfit-container .my-outfit-carousel .my-outfit-card-row .carousel-container .myOutfitCard .product-info .price {
  font-family: "Cormorant";
  justify-content: center;
  font-weight: normal;
}
.related-products-wrapper .my-outfit-container .my-outfit-carousel .my-outfit-card-row .carousel-container .myOutfitCard .product-info .rating {
  color: white;
}
.related-products-wrapper .my-outfit-container .my-outfit-carousel .myOutfit-next-button {
  width: 70px;
  height: 70px;
  align-self: center;
  position: relative;
  right: 20px;
  z-index: 1001;
}

/*# sourceMappingURL=styles.css.map */
